<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<div>
    <form action="#" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}" method="POST">
        <input type="text" th:field="*{name}">
        <input type="text" th:field="*{surname}">
        <button type="submit">Send</button>
    </form>

    <br>
    <a th:href="@{/}">Return main view</a>
</div>
</body>
</html>